# Ignore env files in both client and server
client/.env
client/.vercel
server/.env

client/node_modules
server/node_modules

# Other common ignores
node_modules/
dist/
build/
*.log
.DS_Store
.vercel
